<!--Contact us -->
<div class="row" style="color: #777;background-color:rgb(211, 211, 211);text-align:center;padding:50px 80px;text-align: justify; height:10%;">
  <div class="container">
    <section>
      <div class="page-header" id="contact">
        <h3>Contact us for more</h3>
      </div><!--ends page header-->

      <div class="row">
        <div class="col-lg-4">
          <p>Send us a message, or contact us with the address below</p>
          <address>
            <strong>Kunata Logic</strong><br>
            21, Adeyomo Alakija Str.<br>
            Victoria Island, Lagos<br>
            P: +2348132063194
          </address>
        </div>

        <div class="col-lg-8">
          <form action="" class="form-horizontal">
            <div class="form-group">
              <label for="user-name" class="col-lg-2 control-label">Name </label>
              <div class="col-lg-10">
                <input type="text" class="form-control" id="user-name" placeholder="Enter your name">
              </div>
            </div><!--End form-group-->

            <div class="form-group">
              <label for="user-email" class="col-lg-2 control-label">Email </label>
              <div class="col-lg-10">
                <input type="text" class="form-control" id="user-email" placeholder="Enter your Email Address">
              </div>
            </div><!--End form-group-->

            <div class="form-group">
              <label for="user-url" class="col-lg-2 control-label">Phone </label>
              <div class="col-lg-10">
                <input type="text" class="form-control" id="user-url" placeholder="Phone Number">
              </div>
            </div><!--End form-group-->

            <div class="form-group">
              <label for="user-message" class="col-lg-2 control-label">Any Message </label>
              <div class="col-lg-10">
                <textarea name="user-message" id="user-message" class="form-control"
                placeholder="Enter your message"></textarea>
              </div>
            </div><!--End form- group-->

            <div class="form-group">
              <div class="col-lg-10 col-lg-offset-2">
                <button type="submit" class="btn btn-primary">Submit</button>
              </div>
            </div>
          </form>
        </div>

                  
      </div><!--end the row-->
    </section>
  </div>
</div>
