<br><br>
<div class="container">
  <div class="row">
      <!--The first column -->
    <div class="col-sm-9">
      <div class="row">
          <div class="col-sm-4">
            <a [routerLink]="['/dashboard']">
              <div class="card text-white bg-dark mb-3">
                <div class="card-body">
                  <p class="card-text">Hours Worked</p>
                  <h4>30.00 Hours</h4>
                  <div class="row">
                    <div class="col">
                      <p>Last Week<br>40.00</p>
                    </div>
                    <div class="col">
                      <p>October<br>160.00</p>
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-sm-4">
            <a [routerLink]="['/dashboard']">
              <div class="card bg-secondary mb-3">
                <div class="card-body">
                  <p class="card-text">Vacation Hours Available</p>
                  <h4 (click)="openModal(template)">24 Hours</h4>
                  
                  <div class="row">
                    <div class="col">
                      <p>Used<br>16.00</p>
                    </div>
                    <div class="col">
                      <p>Pending<br>8.00</p>
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-sm-4">
            <a [routerLink]="['/']">
              <div class="card text-white bg-dark mb-3">
                <div class="card-body">
                  <p class="card-text">Available Sick Leave</p>
                  <h4>24 Hours</h4>
                  <div class="row">
                    <div class="col">
                      <p>Used<br>16.00</p>
                    </div>
                    <div class="col">
                      <p>Pending<br>8.00</p>
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div><!--row ends here -->

        <div class="row">
          <div class="col">
            <strong>Timesheets</strong>
            <button type="button" class="btn btn-primary" (click)="displayWeekly()">Weeks</button>
            <button type="button" class="btn btn-primary"(click)="displayMonthly()">Months</button>
          </div>
        </div>

        <div class="row">
              <table class="table table-hover">
                <tbody>
                    <router-outlet></router-outlet>
                </tbody>
              </table>
        </div><!--row ends here -->


        <div class="row">
            <div class="col-xs-12 col-12 col-md-6">
                  <pagination
                    [directionLinks]="false"
                    [totalItems]="totalItems"
                    [(ngModel)]="currentPage"
                    (numPages)="smallnumPages = $event">
                  </pagination>
            </div>
               
            <div class="col-xs-12 col-12 col-md-6">
                  <pager
                    [totalItems]="totalItems"
                    [(ngModel)]="currentPage"
                    (pageChanged)="pageChanged($event)"
                    pageBtnClass="btn"
                    [itemsPerPage]="10"
                    class="pull-left">
                  </pager>
            </div>
        </div><!--row ends here -->
  </div><!--The first column ends here -->

  <!--The second column -->
  <div class="col-sm-3">
        <div class="row">
          <div class="col-sm-5">
              <a href="#" class="mr-3">My Profile</a>              
          </div>
        </div><!-- first row ends -->
        <div class="row">
            <p class="mr-3" id="messages">Messages</p>
        </div>
    </div>
  </div>
</div>