<div class="container-fluid" style="background-image: url(http://www.soluciones506.com/img/parallax/arbol.jpg); background-attachment:fixed;">
  
    <div class="row">
      <img src="assets/images/office/2.jpg" alt="Second Image" style="display: block; width: 100%;" class="img-fluid">
      <div class="centered">
        WELCOME TO PROJECT NINA
        <div class="btn-cen">
            <a class="btn btn-info" style="color:white;">TAKE A TOUR</a>
            <a [routerLink]="['/contact']" class="btn btn-secondary">CONTACT US</a>
        </div>
       
      </div>
    </div>
  <div class="jumbotron text-center">
    <h1>Nina Project App</h1>
    <p class="lead">Welcome to our Nina Project that was built from scratch using Angular 2 components. We hope you enjoy yourself while touring the app.</p>
    <!-- <div>
      <a class="btn btn-primary" [routerLink]="['/register']">Register</a><a class="btn btn-primary" [routerLink]="['/login']">Login</a>
    </div>-->
  </div>


  <div class="bgimg-2">
    <div class="caption">
      <span class="border" style="background-color:transparent;font-size:25px;color: #443b3b;">SHARE YOUR EXPERIENCE</span>
    </div>
  </div>
        
  <div style="position:relative;">
    <div style="color:#ddd;background-color:#282E34;text-align:center;padding:50px 80px;text-align: justify;">
      <p style="text-align:center;">We help you manage your time and work experience thereby enhancing maximum work <br> productivity. Sign up with us today and enjoy the <br> experience</p>
    </div>
  </div>

  <div style="color: #777;background-color:white;text-align:center;padding:50px 80px;text-align: justify;">
      <h3 style="text-align:center;">OUR SERVICES</h3>
      <p>This is just  practice on mastering angular 2 components. I hope to do better in future projects.
        We provide you with most efficient service to your doorstep, thereby helping you manage your employees work productivity at maximum timing.
        magna turpis est sapien duis blandit dignissim. Viverra interdum mi magna mi, morbi sociis. Condimentum dui ipsum consequat morbi, curabitur aliquam pede, 
        nullam vitae eu placerat eget et vehicula. Varius quisque non molestie dolor, nunc nisl dapibus vestibulum at, sodales tincidunt mauris ullamcorper, 
        dapibus pulvinar, in in neque risus odio. Accumsan fringilla vulputate at quibusdam sociis eleifend, aenean maecenas vulputate, non id vehicula lorem 
        mattis, ratione interdum sociis ornare. Suscipit proin magna cras vel, non sit platea sit, maecenas ante augue etiam maecenas, porta porttitor placerat leo.</p>
  </div>

  <div class="row">
    
  </div>
  
  <div class="row">
        <div class="col-md-4">
          <h3>Express Backend</h3>
          <p>This is just  practice on mastering angular 2 components. I hope to do better in future projects.</p>
        </div>
        <div class="col-md-4">
            <h3>Angular-CLI</h3>
            <p>This is just  practice on mastering angular 2 components. I hope to do better in future projects.</p>
        </div>
        <div class="col-md-4">
              <h3>JWT Tokens</h3>
              <p>This is just  practice on mastering angular 2 components. I hope to do better in future projects.</p>
        </div>
  </div>

  <!--Contact us -->
  <div class="row" style="color: #777;background-color:rgb(211, 211, 211);text-align:center;padding:50px 80px;text-align: justify; height:10%;">
		<div class="container">
			<section>
				<div class="page-header" id="contact">
					<h3>Contact us for more</h3>
				</div><!--ends page header-->

				<div class="row">
					<div class="col-lg-4">
						<p>Send us a message, or contact us with the address below</p>
						<address>
							<strong>Kunata Logic</strong><br>
							21, Adeyomo Alakija Str.<br>
							Victoria Island, Lagos<br>
							P: +2348132063194
						</address>
					</div>

					<div class="col-lg-8">
						<form action="" class="form-horizontal">
							<div class="form-group">
								<label for="user-name" class="col-lg-2 control-label">Name </label>
								<div class="col-lg-10">
									<input type="text" class="form-control" id="user-name" placeholder="Enter your name">
								</div>
							</div><!--End form-group-->

							<div class="form-group">
								<label for="user-email" class="col-lg-2 control-label">Email </label>
								<div class="col-lg-10">
									<input type="text" class="form-control" id="user-email" placeholder="Enter your Email Address">
								</div>
							</div><!--End form-group-->

							<div class="form-group">
								<label for="user-url" class="col-lg-2 control-label">Phone </label>
								<div class="col-lg-10">
									<input type="text" class="form-control" id="user-url" placeholder="Phone Number">
								</div>
							</div><!--End form-group-->

							<div class="form-group">
								<label for="user-message" class="col-lg-2 control-label">Any Message </label>
								<div class="col-lg-10">
									<textarea name="user-message" id="user-message" class="form-control"
									placeholder="Enter your message"></textarea>
								</div>
							</div><!--End form- group-->

							<div class="form-group">
								<div class="col-lg-10 col-lg-offset-2">
									<button type="submit" class="btn btn-primary">Submit</button>
								</div>
							</div>
						</form>
					</div>
                    
				</div><!--end the row-->
			</section>
		</div>
  </div>

</div>

