<br><br>
<div class="container" id="theform">
  <h4>Login to Nina Workforce Time Manager</h4>
  <br><br>
  <form class="container" (submit)="onLoginSubmit($event)">
    
    <div class="row">
      <div class="col">
        <label for="validationCustom01">Username</label>
        <input type="text" class="form-control">
      </div>
    </div>

    <div class="row">
      <div class="col">
        <label for="validationCustom01">Password</label>
        <input type="password" class="form-control">
      </div>
    </div>
    <br>
    
    <div class="row">
      <div class="col">
        <label class="form-check-label">
          <input type="checkbox" class="form-check-input">
          Remember me
        </label>
      </div>
    </div>
    <br><br>

    <button class="btn btn-primary btn-lg btn-block" type="submit">Login</button>
    <br>
    <div class="row">
      <div class="col">
        <a [routerLink]="['/register']">Create Account</a>
      </div>
      <div class="col">
          <a href="#">Help Logging in</a>
        </div>
    </div>
  </form>
  
</div>












































