<div class="row">
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Period Ending Date</th>
        <th scope="col">Hour</th>
        <th scope="col">Status</th>
        <th scope="col">Worksite</th>
        
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let dashboard of weekly_dashboards">
        <td><a [routerLink]="['/weektimeentry']">{{dashboard.end_Date}}</a></td>
        <td>{{ dashboard.hour }}</td>
        <td>{{ dashboard.status}}</td>
        <td>{{ dashboard.worksite }}</td>
      </tr>
    </tbody>
  </table>
</div>